.PostSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  overflow: auto;
}

.r-button {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  background-color: var(--inputColor);
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  align-content: start;
  text-align: left;
}
